<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/educationalComponent.css" rel="stylesheet" type="text/css">
    <title>HPV</title>
</head>
<body>
    <header>
        <%- include('../../../partials/header'); %>
    </header>
    <div class="container">
        <h1 class="titleOrange"><%=info.title%></h1>
        
        <br/>
        <br/>
        
    <div class="user-selection-area">
        <% for (var i = 0; i < info.buttons.length; i++) { %>
                <button onclick="logAndRedirect(`<%= url %>`, `<%=info.buttons[i].buttonName%>`, `<%=id%>`, `<%=type%>`, `<%=info.buttons[i].linkToURL%>`)" class="user-selection-button">
                    <%= info.buttons[i].buttonName %>
                </button>
         
        <% } %>
    </div>
    

    </div>
    <script src="/scripts/buttonClickHandler.js"></script>
</body>
</html>