<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/educationalComponent.css" rel="stylesheet" type="text/css">
    <script src="/scripts/registerClicks.js"></script>
    <link rel="icon" href="data:,">
    <title>HPV</title>
</head>
<body id-variable="<%=id%>" type-variable="<%=type%>" next-page-variable="<%=nextPageURL%>" url="<%=url%>">
    <header>
        <%- include('../../../partials/header'); %>
    </header>
    <div class="container">
        <h1 class="title">Discuss with Your Doctor During Your Next Visit</h1>
        <video autoplay id="myvideo">
            <source src="https://hpv-project.s3.amazonaws.com/<%=type%>/discussWithDoctor.mp4" type="video/mp4">
        </video>
        <br/> 
        <br/> 
        <br/>
    <div class="video-controls">
        <button id="rewind">Repeat that</button>
        <button id="pause">| |</button>
    </div>
        
    <a href="/<%=id%>">
        <button class="back">Start from Beginning</button>
    </a>
    <center><a onclick="calculateDuration('Duration_DiscussWithDoctorPage')" href="/<%=id%>/EducationalComponent/<%=type%>/<%=nextPageURL%>">
        <button id="viewTranscriptButton">View Transcript</button>
    </a></center>
    
    </div>
    <script src="/scripts/videoControls.js"></script>
</body>
</html>