<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/educationalComponent.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>HPV</title>
</head>

<body id-variable="<%=id%>" type-variable="<%=type%>" next-page-variable="<%=nextPageURL%>" url="<%=url%>">
    <header>
        <%- include('../../../partials/header'); %>
    </header>
    <div class="container">
        <h1 class="title" id="title"></h1>
        <div class="video-wrapper" id="video-container">
            <div style="margin-bottom: 15px;" class="video-wrapper">
                <video autoplay id="myvideo" playsinline>
                    <source src="" type="video/mp4">
                    <track kind="captions" src="" srclang="en" label="English" default>
                </video>
                <div class="play-overlay">
                    <button id="playButton"></button>
                </div>
            </div>
            <div style="margin-bottom: 15px;" class="video-controls">
                <button id="rewind"></button>
                <button id="pause"></button>
            </div>
        </div>

        <div class="user-selection-area" id="questions-container">
        </div>

        <div id="transcript-container"></div>
        
        <a onclick="previousPage()">
            <button class="back" id="back-button"></button>
        </a>

        <a onclick="nextPage()">
            <button class="next" id="next-button"></button>
        </a>

        <a onclick="endStudy()">
            <button class="next" id="submit-button"></button>
        </a>

    </div>
    <script src="/scripts/videoControls.js"></script>
    <script src="/scripts/pageSwitcher.js"></script>
</body>

</html>